<mat-expansion-panel *ngIf="categories">
  <mat-expansion-panel-header>
    <mat-panel-title> Categorias</mat-panel-title>
    <mat-panel-description>
      <mat-icon> assignment </mat-icon>
    </mat-panel-description>
  </mat-expansion-panel-header>

  <mat-selection-list [multiple]="false">
    <mat-list-option
      *ngFor="let category of categories"
      [value]="category"
      (selectedChange)="onShowCategory(category)"
    >
      <button>
        {{ category }}
      </button>
    </mat-list-option>
  </mat-selection-list>
</mat-expansion-panel>
